parameters:
    level: max

    checkGenericClassInNonGenericObjectType: true
    reportMaybesInPropertyPhpDocTypes: true
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: true

    paths:
        - src
